<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CSUMB Trivia</title>
  </head>
  <body>

    <h1>CSUMB and Hartnell Trivia</h1>

    <form method="post">
      <p>What is Hartnell's mascot's name? <input type="text" name="mascot"></p>

      <p>When was Hartnell established? <input type="text" name="establish"></p>

      <p>Who has the only reserved parking spot on campus. (Title only please) <input type="text" name="parking"></p>

      <!-- Enter a name: -->
      <!-- <input type="text" name="myname" value=""> -->
      <input type="submit" value="submit">
    </form>

  </body>
</html>
